    <!-- Start Banner Area -->
<section class="banner-area organic-breadcrumb">
    <div class="container">
        <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
            <div class="col-first">
                <h1>Trang tin tức</h1>
                <nav class="d-flex align-items-center">
                    <a href="index.html">Trang chủ<span class="lnr lnr-arrow-right"></span></a>
                    <a href="category.html">Tin tức</a>
                </nav>
            </div>
        </div>
    </div>
</section>
<!-- End Banner Area -->
<!--================Blog Categorie Area =================-->
<section class="blog_categorie_area">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="categories_post">
                    <img src="img/blog/cat-post/cat-post-3.jpg" alt="post">
                    <div class="categories_details">
                        <div class="categories_text">
                            <a href="blog-details.html">
                                <h5>Phong Cách Thời Trang</h5>
                            </a>
                            <div class="border_line"></div>
                            <p>Khám phá xu hướng giày mới nhất</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="categories_post">
                    <img src="img/blog/cat-post/cat-post-2.jpg" alt="post">
                    <div class="categories_details">
                        <div class="categories_text">
                            <a href="blog-details.html">
                                <h5>Giày Thể Thao</h5>
                            </a>
                            <div class="border_line"></div>
                            <p>Nâng cao hiệu suất với những đôi giày tốt nhất</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="categories_post">
                    <img src="img/blog/cat-post/cat-post-1.jpg" alt="post">
                    <div class="categories_details">
                        <div class="categories_text">
                            <a href="blog-details.html">
                                <h5>Chăm Sóc Giày</h5>
                            </a>
                            <div class="border_line"></div>
                            <p>Hướng dẫn bảo quản giày luôn như mới</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!--================Blog Categorie Area =================-->
<!--================Blog Area =================-->
<section class="blog_area">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="blog_left_sidebar">
                    <article class="row blog_item">
                        <div class="col-md-3">
                            <div class="blog_info text-right">
                                <div class="post_tag">
                                    <a href="#">Sneakers,</a>
                                    <a class="active" href="#">Thời trang,</a>
                                    <a href="#">Phong cách,</a>
                                    <a href="#">Xu hướng</a>
                                </div>
                                <ul class="blog_meta list">
                                    <li><a href="#">Nguyễn Văn A<i class="lnr lnr-user"></i></a></li>
                                    <li><a href="#">12 Tháng 2, 2025<i class="lnr lnr-calendar-full"></i></a></li>
                                    <li><a href="#">1.2M Lượt xem<i class="lnr lnr-eye"></i></a></li>
                                    <li><a href="#">06 Bình luận<i class="lnr lnr-bubble"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-9">
                            <div class="blog_post">
                                <img src="img/blog/main-blog/m-blog-1.jpg" alt="">
                                <div class="blog_details">
                                    <a href="single-blog.html">
                                        <h2>Những xu hướng giày sneaker hot nhất năm 2025</h2>
                                    </a>
                                    <p>
                                        Cùng khám phá những mẫu sneaker đang làm mưa làm gió trên thị trường năm nay.
                                        Từ thiết kế retro đến những đôi chunky sneaker cá tính, đây là những đôi giày không thể thiếu trong tủ đồ của bạn!
                                    </p>
                                    <a href="single-blog.html" class="white_bg_btn">Xem thêm</a>
                                </div>
                            </div>
                        </div>
                    </article>

                    <article class="row blog_item">
                        <div class="col-md-3">
                            <div class="blog_info text-right">
                                <div class="post_tag">
                                    <a href="#">Sneakers,</a>
                                    <a class="active" href="#">Thời trang,</a>
                                    <a href="#">Phong cách,</a>
                                    <a href="#">Xu hướng</a>
                                </div>
                                <ul class="blog_meta list">
                                    <li><a href="#">Trần Thị B<i class="lnr lnr-user"></i></a></li>
                                    <li><a href="#">10 Tháng 2, 2025<i class="lnr lnr-calendar-full"></i></a></li>
                                    <li><a href="#">950K Lượt xem<i class="lnr lnr-eye"></i></a></li>
                                    <li><a href="#">12 Bình luận<i class="lnr lnr-bubble"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-9">
                            <div class="blog_post">
                                <img src="img/blog/main-blog/m-blog-2.jpg" alt="">
                                <div class="blog_details">
                                    <a href="single-blog.html">
                                        <h2>Cách phối đồ với giày thể thao nam/nữ</h2>
                                    </a>
                                    <p>
                                        Bạn có biết cách kết hợp sneaker với outfit để trông phong cách và thời trang hơn? Hãy cùng khám phá những mẹo phối đồ giúp bạn nổi bật giữa đám đông.
                                    </p>
                                    <a href="single-blog.html" class="white_bg_btn">Xem thêm</a>
                                </div>
                            </div>
                        </div>
                    </article>

                    <article class="row blog_item">
                        <div class="col-md-3">
                            <div class="blog_info text-right">
                                <div class="post_tag">
                                    <a href="#">Sneakers,</a>
                                    <a class="active" href="#">Thời trang,</a>
                                    <a href="#">Phong cách,</a>
                                    <a href="#">Xu hướng</a>
                                </div>
                                <ul class="blog_meta list">
                                    <li><a href="#">Lê Văn C<i class="lnr lnr-user"></i></a></li>
                                    <li><a href="#">8 Tháng 2, 2025<i class="lnr lnr-calendar-full"></i></a></li>
                                    <li><a href="#">750K Lượt xem<i class="lnr lnr-eye"></i></a></li>
                                    <li><a href="#">09 Bình luận<i class="lnr lnr-bubble"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-9">
                            <div class="blog_post">
                                <img src="img/blog/main-blog/m-blog-3.jpg" alt="">
                                <div class="blog_details">
                                    <a href="single-blog.html">
                                        <h2>Bảo quản giày sneaker đúng cách để luôn như mới</h2>
                                    </a>
                                    <p>
                                        Làm thế nào để giữ đôi giày yêu thích của bạn luôn sạch đẹp như lúc mới mua? Cùng tìm hiểu những bí quyết chăm sóc giày giúp kéo dài tuổi thọ và độ bền của chúng.
                                    </p>
                                    <a href="single-blog.html" class="white_bg_btn">Xem thêm</a>
                                </div>
                            </div>
                        </div>
                    </article>

                    <nav class="blog-pagination justify-content-center d-flex">
                        <ul class="pagination">
                            <li class="page-item">
                                <a href="#" class="page-link" aria-label="Previous">
                                    <span aria-hidden="true">
                                        <span class="lnr lnr-chevron-left"></span>
                                    </span>
                                </a>
                            </li>
                            <li class="page-item"><a href="#" class="page-link">01</a></li>
                            <li class="page-item active"><a href="#" class="page-link">02</a></li>
                            <li class="page-item"><a href="#" class="page-link">03</a></li>
                            <li class="page-item"><a href="#" class="page-link">04</a></li>
                            <li class="page-item"><a href="#" class="page-link">05</a></li>
                            <li class="page-item">
                                <a href="#" class="page-link" aria-label="Next">
                                    <span aria-hidden="true">
                                        <span class="lnr lnr-chevron-right"></span>
                                    </span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>

            </div>
            <div class="col-lg-4">
                <div class="blog_right_sidebar">
                    <aside class="single_sidebar_widget search_widget">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Tìm kiếm giày..." onfocus="this.placeholder = ''" onblur="this.placeholder = 'Tìm kiếm giày...'">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button"><i class="lnr lnr-magnifier"></i></button>
                            </span>
                        </div>
                        <div class="br"></div>
                    </aside>
                    <aside class="single_sidebar_widget author_widget">
                        <img class="author_img rounded-circle" src="img/shoes/author.png" alt="">
                        <h4>John Sneakers</h4>
                        <p>Chuyên gia đánh giá giày</p>
                        <div class="social_icon">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                            <a href="#"><i class="fa fa-youtube"></i></a>
                        </div>
                        <p>
                            Tôi đã thử và đánh giá hàng trăm đôi giày để giúp bạn tìm được lựa chọn tốt nhất cho phong cách và nhu cầu của mình.
                        </p>
                        <div class="br"></div>
                    </aside>
                    <aside class="single_sidebar_widget popular_post_widget">
                        <h3 class="widget_title">Giày phổ biến</h3>
                        <div class="media post_item">
                            <img src="img/shoes/popular1.jpg" alt="post">
                            <div class="media-body">
                                <a href="shoe-details.html">
                                    <h3>Air Jordan 1 Retro</h3>
                                </a>
                                <p>02 giờ trước</p>
                            </div>
                        </div>
                        <div class="media post_item">
                            <img src="img/shoes/popular2.jpg" alt="post">
                            <div class="media-body">
                                <a href="shoe-details.html">
                                    <h3>Yeezy Boost 350 V2</h3>
                                </a>
                                <p>05 giờ trước</p>
                            </div>
                        </div>
                        <div class="media post_item">
                            <img src="img/shoes/popular3.jpg" alt="post">
                            <div class="media-body">
                                <a href="shoe-details.html">
                                    <h3>Nike Dunk Low Panda</h3>
                                </a>
                                <p>08 giờ trước</p>
                            </div>
                        </div>
                        <div class="br"></div>
                    </aside>
                    <aside class="single_sidebar_widget ads_widget">
                        <a href="#"><img class="img-fluid" src="img/shoes/ad.jpg" alt="Quảng cáo giày"></a>
                        <div class="br"></div>
                    </aside>
                    <aside class="single_sidebar_widget post_category_widget">
                        <h4 class="widget_title">Danh mục giày</h4>
                        <ul class="list cat-list">
                            <li>
                                <a href="#" class="d-flex justify-content-between">
                                    <p>Giày thể thao</p>
                                    <p>45</p>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="d-flex justify-content-between">
                                    <p>Giày chạy bộ</p>
                                    <p>30</p>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="d-flex justify-content-between">
                                    <p>Giày bóng rổ</p>
                                    <p>20</p>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="d-flex justify-content-between">
                                    <p>Giày sneaker</p>
                                    <p>50</p>
                                </a>
                            </li>
                        </ul>
                        <div class="br"></div>
                    </aside>
                    <aside class="single-sidebar-widget newsletter_widget">
                        <h4 class="widget_title">Đăng ký nhận tin</h4>
                        <p>
                            Nhận thông tin mới nhất về các mẫu giày hot nhất hiện nay!
                        </p>
                        <div class="form-group d-flex flex-row">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <div class="input-group-text"><i class="fa fa-envelope" aria-hidden="true"></i></div>
                                </div>
                                <input type="text" class="form-control" placeholder="Nhập email..." onfocus="this.placeholder = ''" onblur="this.placeholder = 'Nhập email...'">
                            </div>
                            <a href="#" class="bbtns">Đăng ký</a>
                        </div>
                        <p class="text-bottom">Bạn có thể hủy đăng ký bất cứ lúc nào</p>
                        <div class="br"></div>
                    </aside>
                    <aside class="single-sidebar-widget tag_cloud_widget">
                        <h4 class="widget_title">Thẻ phổ biến</h4>
                        <ul class="list">
                            <li><a href="#">Nike</a></li>
                            <li><a href="#">Adidas</a></li>
                            <li><a href="#">Jordan</a></li>
                            <li><a href="#">Sneakers</a></li>
                            <li><a href="#">Yeezy</a></li>
                            <li><a href="#">Converse</a></li>
                            <li><a href="#">Puma</a></li>
                            <li><a href="#">Reebok</a></li>
                            <li><a href="#">Vans</a></li>
                        </ul>
                    </aside>
                </div>
            </div>

        </div>
    </div>
</section>
<!--================Blog Area =================-->